#!/bin/bash

set -e

cd {{ project_path }}/{{ item.dir }}
git reset --hard
git pull
{% if item.dir == "strassengezwitscher_dev" %}
chmod -R u=rwX,g=,o= crowdgezwitscher
{% endif %}
source venv/bin/activate
pip install -r requirements.txt
npm install --production
if [ -f gulpfile.js ]; then
	node_modules/gulp/bin/gulp.js dist --production
fi
{% if item.dir == "strassengezwitscher_dev" %}
DJANGO_SETTINGS_MODULE={{ develop_project_name }}.settings.production python {{ develop_project_name }}/manage.py collectstatic --noinput
DJANGO_SETTINGS_MODULE={{ develop_project_name }}.settings.production python {{ develop_project_name }}/manage.py migrate --noinput
{% else %}
python {{ master_project_name }}/manage.py collectstatic --noinput
python {{ master_project_name }}/manage.py migrate --noinput
{% endif %}
if [ -f /run/uwsgi/{{ item.dir }}.pid ]; then
	uwsgi --reload /run/uwsgi/{{ item.dir }}.pid
fi
