#!/bin/bash

set -e

cd {{ project_path }}/{{ item.dir }}
git reset --hard
git pull
pip install -r requirements.txt
npm install --production
if [ -f gulpfile.js ]; then
	node_modules/gulp/bin/gulp.js dist --production
fi
python strassengezwitscher/manage.py collectstatic --noinput
python strassengezwitscher/manage.py migrate --noinput
if [ -f /run/uwsgi/{{ item.dir }}.pid ]; then
	uwsgi --reload /run/uwsgi/{{ item.dir }}.pid
fi
