[uwsgi]
{% if item == "strassengezwitscher_dev" %}
chdir           = {{ project_path }}/{{ item }}/{{ develop_project_name }}
module          = {{ develop_project_name }}.wsgi:application
env             = DJANGO_SETTINGS_MODULE={{ develop_project_name }}.settings.production
{% else %}
chdir           = {{ project_path }}/{{ item }}/{{ master_project_name }}
module          = {{ master_project_name }}.wsgi:application
env             = DJANGO_SETTINGS_MODULE={{ master_project_name }}.settings
{% endif %}
virtualenv      = {{ project_path }}/{{ item }}/venv
socket          = {{ sockets_path }}/{{ item }}.sock
chmod-socket    = 664
processes       = 4
threads         = 2
master          = True
pidfile         = {{ pids_path }}/{{ item }}.pid
vacuum          = True
max-requests    = 5000
stats           = {{ sockets_path }}/{{ item }}_stats.sock
memory-report   = True
req-logger      = file:{{ logs_path }}/{{ item }}/requests.log
logger          = file:{{ logs_path }}/{{ item }}/app.log
harakiri        = 30
