[uwsgi]
chdir           = {{ project_path }}/{{ item }}/strassengezwitscher
module          = strassengezwitscher.wsgi:application
env             = DJANGO_SETTINGS_MODULE=strassengezwitscher.settings
virtualenv      = {{ project_path }}/{{ item }}/venv
socket          = {{ sockets_path }}/{{ item }}.sock
chmod-socket 	= 664
processes       = 4
threads         = 2
master          = True
pidfile         = {{ pids_path }}/{{ item }}.pid
vacuum          = True
max-requests    = 5000
stats           = {{ sockets_path }}/{{ item }}_stats.sock
memory-report   = True
daemonize       = {{ logs_path }}/{{ item }}/{{ uwsgi_site_log_name }}
harakiri        = 30
